.ShaderCode {
    width: 100%;
    margin-top: -50vh;
    overflow-x: auto;
}

.ShaderCode code span {
    z-index: 1;
    position: relative;
}

.ShaderCode__header {
    background-color: #1b1b1f;
    height: 50px;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    position: sticky;
    top: 25px;
    z-index: 999;
}

.ShaderCode__header h1 {
    flex-grow: 1;
    margin: 0;
}

.ShaderCode__inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    height: 100%;
    position: absolute;
    right: 10px;
}

.ShaderCode__input {
    margin-left: 10px;
}

.ShaderCode__input input {
    display: none;
}

.Highlighter {
    width: 100%;
    max-width: 100%;
    overflow-y: visible;
    /*overflow-x: hidden !important;*/
}

.Highlighter {
    margin: 0;
}