main {
    padding: 4em 0 2em 0;
}

@media screen and (max-width: 736px) {

    main {
        padding: 3em 0 1em 0;
    }

}

main .inner {
    width: 90%;
    max-width: 80em;
    margin: 0 auto;
}

@media screen and (max-width: 480px) {

    main .inner {
        width: 95%;
    }

}